<div class="{{ class }}">
    {% for field, value in fields %}
        <div class="{{ field|lower }}">
            {{ field }}: {{ value }}
        </div>
    {% endfor %}

    {% if addDetails and detailsUrl %}
        {% if useModal %}
            <a class="details" href="{{ modalUrl }}" data-toggle="modal">
                {{ detailsTitle }}
            </a>
        {% else %}
            <a class="details" href="{{ detailsUrl }}">
                {{ detailsTitle }}
            </a>
        {% endif %}
    {% endif %}

    {% if addShare and shareUrl %}
        <a class="share" href="{{ shareUrl }}" data-message="{{ shareMessage }}">
            {{ shareTitle }}
        </a>
    {% endif %}
</div>