<tr class="{{ cssClass }}">
    {% for field in tableFields %}
        <td class="{{ field|lower }}">
            {{ attribute(_context, field) }}
        </td>
    {% endfor %}

    {% if addDetails|default() and (detailsUrl|default() or modalUrl|default()) %}
        <td>
            {% if useModal|default() %}
                <a class="details" href="{{ modalUrl }}" data-toggle="modal">
                    {{ 'huh.list.misc.detailsTitle' | trans }}
                </a>
            {% else %}
                <a class="details" href="{{ detailsUrl }}">
                    {{ 'huh.list.misc.detailsTitle' | trans }}
                </a>
            {% endif %}
        </td>
    {% endif %}

    {% if addShare|default() and shareUrl|default() %}
        <td>
            <a class="share" href="{{ shareUrl }}" data-message="{{ shareMessage }}">
                {{ shareTitle }}
            </a>
        </td>
    {% endif %}
</tr>